@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Glacial Indifference';
    src: url("../fonts/GlacialIndifference-Regular.otf");
}
@font-face {
    font-family: 'Neirizi';
    src: url("../fonts/Neirizi-Regular.ttf");
}

:root{
    /* Set Background image */
    /*
    background-image: url(./assets/japan.jpg);
    background-repeat: no-repeat;
    */

    /* Testing with a solid color */
    background-color: #ebe9e3;
}

html, body {
    font-family: 'Glacial Indifference', sans-serif;
    color: #2b2b2b;
}

#play-button {
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    width: 150px;
    height: 40px;
}

#line-vert {
    height: 30px;
    width: 2px;
    background: #2b2b2b;
}

#line-horz {
    height: 2px;
    width: 30px;
    background: #2b2b2b;
}