@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    /* Set Background image */
    background-image: url(./assets/japan.jpg);
    background-repeat: no-repeat;
}

html, body {
    font-family: 'Montserrat', sans-serif;
    color: #f6f6f6;
}

#play-button {
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    width: 150px;
    height: 40px;
}
